@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.about_us {
  width: 100%;
  height: auto;

  padding: 40px 0px;

  .about_us_cont {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: calc(var(--unit) * 2);

    .left {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--unit);

      .top_heading {
        width: 100%;
        height: auto;
        position: relative;

        .sub_text {
          position: absolute;
          top: -20%;
          left: 0;
          z-index: -1;
          font-size: calc(var(--unit) * 2);
          font-family: "Dancing Script", serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          color: rgb(228, 228, 228);
        }

        .sub_heading {
          color: var(--accent2);
          font-size: calc(var(--unit) * 3);
          line-height: 100%;
        }
      }

      .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left_list {
          ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(var(--unit) / 2);
            li {
              font-size: calc(var(--unit) - 2px);
              font-weight: 500;
            }

            ::marker {
              color: var(--accent2);
            }
          }
        }

        .right_panel {
          display: flex;
          justify-content: center;
          align-content: center;
          gap: calc(var(--unit));
          background-color: var(--accent2);
          padding: 20px;

          h3 {
            color: var(--white);
          }

          h5 {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            font-size: calc(var(--unit) + 5px);
          }
        }
      }
    }

    .right {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      gap: var(--unit);

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        width: 50%;
        height: 100%;

        .top,
        .bottom {
          width: 100%;
          height: 50%;

          border-radius: calc(var(--unit) / 2);
        }

        .top {
          background-image: url("../../assests/about_3.jpg");
        }
        .bottom {
          background-image: url("../../assests/about_2.jpg");
        }
      }

      .right {
        width: 50%;
        height: 100%;
        background-image: url("../../assests/about_1.jpeg");
        border-radius: calc(var(--unit) / 2);
      }
    }
  }
}

.founder_parent {
  width: 100%;
  height: auto;
  background-color: var(--lightgrey);
  padding: 40px 0px;
  position: relative;

  .founder_cont {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: calc(var(--unit) * 3);

    .founder_image {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }

    .founder_content {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);

      .name {
        color: var(--accent2);
      }
    }
  }

  .image {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;

    img {
      height: 100%;
      opacity: 0.3;
    }
  }
}

.vision_mission_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .vision {
    width: 50%;
    height: auto;
    background-color: var(--accent2);

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.486);

      padding: 40px 10px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .content {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--unit);
        .top {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: var(--unit);

          h1 {
            color: var(--white);
          }
        }

        .bottom {
          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: var(--unit);

            li {
              color: var(--white);
              font-weight: 500;
              font-size: calc(var(--unit) - 2px);
            }
          }
        }
      }
    }
  }

  .mision {
    width: 50%;
    height: auto;
    background-color: var(--accent2);

    padding: 40px 30px;

    .content {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);
      .top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--unit);

        h1 {
          color: var(--white);
        }
      }

      .bottom {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: var(--unit);

          li {
            color: var(--white);
            font-weight: 500;
            font-size: calc(var(--unit) - 2px);
          }
        }
      }
    }
  }
}

.clients_parent{
  width: 100%;
  height: auto;
  padding: 40px 0px;

  .client_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit));
    flex-direction: column;

    h3{
      font-size: calc(var(--unit)*2);
    }


    .client_list{
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      // gap: calc(var(--unit)*2);
      overflow: hidden;
      position: relative;

      .client_logo{
        height: 50px;
        animation: swipelogo 10s linear infinite;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
       
        
        &:nth-child(2){
          animation-delay: 1.5s;
        }
        &:nth-child(3){
          animation-delay: 2.5s;
        }
        &:nth-child(4){
          animation-delay: 3.8s;
        }
        &:nth-child(5){
          animation-delay: 5.3s;
        }
        &:nth-child(6){
          animation-delay: 6.9s;
        }
        &:nth-child(7){
          animation-delay: 8.2s;
        }
      

        @keyframes swipelogo {
          0%{
            left: 100%;
          }
          100%{
           left: -13%;
          }
        }
      }


      &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 20px;
       background: linear-gradient(to left,white,transparent) ;
       z-index: 99;
      }
      &::after{
        height: 100%;
        width: 20px;
        background: linear-gradient(to left, transparent, white);

        position: absolute;
        content: "";
        top: 0;
        left: 0;
      }
    }
 
  }
}

.core_values {
  width: 100%;
  padding: 40px 0px;

  .core_values_cont {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      position: relative;

      .left {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 25%;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: var(--lightgrey);
        }
      }

      .right {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--unit);
        padding: 0px 50px;
      }

      .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--accent2);
        z-index: 2;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    .line {
      width: 3px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--accent2);
    }
  }
}

@media only screen and (max-width: 670px) {
  .clients_parent {
    .client_cont{
      .client_list{
  gap: 30px;
        .client_logo{
height: 30px;
         
        }
      }
    }
  }

  .core_values {
    .core_values_cont {
      gap: var(--unit);
      .content {
        flex-direction: column;
        gap: var(--unit);

        .left {
          width: 100%;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0px 50px;
        }
        .right {
          width: 100%;
          padding: 0px 20px 0px 40px;
        }

        &:nth-child(even) {
          flex-direction: column !important;
        }

        .circle {
          left: 3.5%;
        }
      }
      .line {
        left: 5%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .about_us {
    .about_us_cont {
      flex-direction: column-reverse !important;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }

  .founder_parent {
    .founder_cont {
      flex-direction: column;

      .founder_image {
        width: 100%;
      }

      .founder_content {
        width: 100%;
      }
    }

    .image {
      width: 100% !important;

      img {
        width: 100% !important;
      }
    }
  }

  .vision_mission_parent {
    flex-direction: column !important;

    .vision {
      width: 100%;

      .overlay {
        justify-content: flex-start;
        align-items: flex-start;

        .content {
          width: 100%;
        }
      }
    }

    .mision {
      width: 100%;
      padding: 40px 10px;

      .content {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .about_us {
    .about_us_cont {
      .left {
        .bottom {
          flex-direction: column;
          gap: var(--unit);
        }
      }
    }
  }

 .clients_parent {

  .client_cont{

    .client_list{
gap: 0px !important;
height: 50px;
      .client_logo{
        height: 20px;

        &:nth-child(1){
          animation-delay: 2s !important;
        }
        &:nth-child(2){
          animation-delay: 3.2s !important;
        }
        &:nth-child(3){
          animation-delay: 4s !important;
        }
        &:nth-child(4){
          animation-delay: 5.3s !important;
        }
        &:nth-child(5){
          animation-delay: 7s !important;
        }
        &:nth-child(6){
          animation-delay: 8.7s !important;
        }
        &:nth-child(7){
          animation-delay: 10.2s !important;
        }
      
        
      }
    }
  }
 }
}
