.mini-about-parent {
  width: 100%;
  height: auto;
  padding: 80px 0px;

  .mini-about-cont {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .left {
      width: 50%;
      height: auto;
      position: relative;
      border-right: 1px solid var(--accent2);
      display: flex;
      align-items: center;
      justify-content: center;

      .div {
        background-image: url("../../assests/about_img_first.jpeg");
        width: 80%;
        aspect-ratio: 1;

        border-radius: calc(var(--unit) / 2);

        box-shadow: var(--shadow);
      }

      // .div2 {
      //   position: absolute;
      //   left: 35%;
      //   background-image: url("../../assests/about_img_first.jpeg");
      //   width: 40%;
      //   aspect-ratio: 1;
      //   z-index: 1;
      //   top: 0;
      //   box-shadow: var(--shadow);
      //   border-radius: calc(var(--unit) / 2);
      // }

      // .div3 {
      //   position: absolute;
      //   left: 60%;
      //   top: 50%;
      //   background-image: url("../../assests/about_img_second.webp");
      //   width: 30%;
      //   aspect-ratio: 1;
      //   z-index: 1;
      //   box-shadow: var(--shadow);
      //   border-radius: calc(var(--unit) / 2);
      // }
    }

    .right {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var((--unit));
      padding: 0px calc(var(--unit) * 2);
    }
  }
}

.activities_parent {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color: var(--lightgrey);

  .activities_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) * 2);
    flex-direction: column;

    h1 {
      color: var(--accent);
    }

    .card_list {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(var(--unit) * 2);
      flex-wrap: wrap;

      .card {
        width: calc(100% / 2.5);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        padding: 30px 20px;
        gap: calc(var(--unit) * 2);
        border-radius: var(--unit);

        .left {
          width: 30%;
          height: auto;

          .icon {
            width: 100%;
            aspect-ratio: 1;
            background-color: grey;
            border-radius: calc(var(--unit) / 2);
            filter: hue-rotate(99deg);

            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 80%;
            }
          }
        }

        .content {
          width: 70%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);

          h3 {
            text-align: center;
            // font-size: 16px;
          }

          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.values-parent {
  width: 100%;
  height: auto;
  padding: 40px 0px;

  .values-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--unit);
    height: auto;

    .card {
      width: 250px;
      height: 350px;
      background-color: var(--white);
      box-shadow: var(--shadow);
      border-radius: calc(var(--unit));
      overflow: hidden;
      position: relative;

      .top {
        width: 100%;
        height: 50%;
        background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
          url("../../assests/family_v.webp");
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: calc(var(--unit));

        &.innovative {
          background: linear-gradient(
              rgba(0, 0, 0, 0.562),
              rgba(0, 0, 0, 0.562)
            ),
            url("../../assests/innovative.webp");
        }

        &.pb {
          background: linear-gradient(
              rgba(0, 0, 0, 0.562),
              rgba(0, 0, 0, 0.562)
            ),
            url("../../assests/problem_solving.webp");
        }
        &.cs {
          background: linear-gradient(
              rgba(0, 0, 0, 0.562),
              rgba(0, 0, 0, 0.562)
            ),
            url("../../assests/customer_support.webp");
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        padding: 20px;
        display: flex;
        flex-direction: center;
        align-items: flex-end;
        p {
          text-align: center;
          font-size: calc(var(--unit) - 1px);
        }
      }

      .icon {
        width: 60px;
        aspect-ratio: 1;
        background-color: var(--white);
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        border-radius: calc(var(--unit) / 2);
        box-shadow: var(--shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        filter: hue-rotate(99deg);

        img {
          width: 80%;
        }
      }
    }
  }
}

.quality-parent {
  width: 100%;
  height: auto;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--unit);

  .left {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--unit);
    flex-direction: column;
    margin: auto;
    padding: 40px 40px;
  }

  .right {
    width: 50%;
    height: auto;
    position: relative;

    .coloured_div {
      width: 70%;
      height: 80%;
      background-color: var(--accent2);
      position: absolute;
      right: 0;
      top: 0;
    }

    .photo_div {
      width: 50%;
      height: 80%;
      position: absolute;
      transform: translate(10px, 5px);
      bottom: 0;
      left: 0;
      background-image: url("../../assests/quality_policy.webp");
      border-radius: var(--unit);
      animation: floating 4s linear infinite;

      @keyframes floating {
        0% {
          transform: translate(-20px, 5px);
        }
        50% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-20px, 5px);
        }
      }
    }
  }
}

.how_it_works {
  width: 100%;
  background-color: var(--accent);
  padding: 40px 0px;

  .how_its_work_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--unit);


    h2{
      font-size: calc(var(--unit)*2);
      color: var(--white);
    }

    .list {
      width: 100%;
      .mySwiper {
        width: 100%;
        height: 100%;
        padding: 40px 20px;

        .swiper_slide {
          width: calc(100% / 5 - 30px);
          aspect-ratio: 0.75;
          border-radius: 50px 0px 50px 0px;
          border: 1px solid var(--accent2);
          padding: 10px;
          position: relative;

          .card {
            width: 100%;
            height: 100%;
            border-radius: 50px 0px 50px 0px;
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .top{
              height: 50%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              img{
                width: 50%;
              }
            }

            .bottom{
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;

              h3{
                color: var(--accent);
                text-align: center;
              }
            }
          }

          .icon {
            width: 60px;
            aspect-ratio: 1;
            background-color: var(--white);
            border-radius: 50%;
            position: absolute;
            right: -7%;
            top: -5%;
            box-shadow: var(--shadow);
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
              width: 80%;
              height: 80%;
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              background-color: var(--accent2);
              border-radius: 50%;
              z-index: 1;
            }

            span{
              position: relative;
             
              z-index: 2;
              color: var(--white);
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// .testimoneal-parent {
//   width: 100%;
//   height: auto;
//   display: flex;
//   justify-content: center;
//   align-items: stretch;
//   padding: 40px 0px;

//   // .left {
//   //   width: 50%;
//   //   height: auto;
//   //   display: flex;
//   //   flex-direction: column;
//   //   justify-content: center;
//   //   align-items: center;
//   //   padding: 50px 10px;

//   //   h3 {
//   //     font-size: calc(var(--unit) * 10);
//   //     line-height: 100%;
//   //   }
//   // }

//   .right {
//     width: 50%;
//     height: auto;
//     background-color: var(--accent);

//     position: relative;

//     .mySwiper {
//       width: 400px;
//       height: 80%;
//       position: absolute;
//       top: 50%;
//       left: 5%;
//       transform: translateY(-50%);

//       .swiper-slide {
//         width: 100%;
//         height: 100%;
//         background-color: white;

//         .slide-content {
//           width: 100%;
//           height: 100%;
//           padding: 10px;
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: flex-start;
//           gap: calc(var(--unit) / 2);

//           .top_side {
//             display: flex;
//             width: 100%;
//             justify-content: flex-start;
//             align-items: stretch;
//             height: 30%;
//             gap: var(--unit);

//             img {
//               height: 100%;
//               aspect-ratio: 1;
//               border-radius: 50%;
//             }

//             .right_side {
//               display: flex;
//               flex-direction: column;
//               justify-content: center;
//               align-items: flex-start;
//               gap: calc(var(--unit)/2);

//               .name{
//                 font-size: calc(var(--unit));
//               }

//               .star {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 gap: calc(var(--unit) / 2);

//                 svg{
//                   color: var(--accent2);
//                 }
//               }
//             }
//           }

//           .content {
//             height: 70%;
//             width: 100%;
//           }
//         }
//       }
//     }

//     .custom-prev {
//       position: absolute;
//       bottom: 5%;
//       left: 70%;
//       transform: translateY(-50%);
//       cursor: pointer;
//       z-index: 999999999;

//       svg {
//         color: var(--white);
//         transform: rotate(90deg);
//         font-size: 60px;
//       }
//     }

//     .custom-next {
//       position: absolute;
//       bottom: 5%;
//       right: 10%;
//       transform: translateY(-50%);
//       cursor: pointer;
//       z-index: 2;

//       svg {
//         color: var(--white);
//         transform: rotate(-90deg);
//         font-size: 60px;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 1250px) {
//   .testimoneal-parent {
//     .right {
//       .custom-next {
//         right: 0;
//       }

//       .custom-prev {
//         left: 80%;
//       }
//     }
//   }
// }

@media only screen and (max-width: 1000px) {
  .mini-about-parent {
    .mini-about-cont {
      flex-direction: column !important;

      .left {
        width: 100%;
        height: 500px;
        border-right: 0px !important;
        border-bottom: 1px solid var(--accent2);

        .div {
          left: 20%;
          top: 45%;
        }

        .div2 {
          top: 0;
          left: 25%;
        }

        .div3 {
          left: 45%;
          top: 40%;
        }
      }

      .right {
        width: 100%;
        height: auto;
        padding: 20px;
      }
    }
  }

  .quality-parent {
    flex-direction: column;

    .left {
      width: 100%;
      padding: 20px;
    }

    .right {
      width: 100%;
      height: 500px;

      .photo_div {
        left: 10%;

        bottom: 35% !important;
        width: 250px !important;
        height: 250px;
      }
    }
  }

  // .testimoneal-parent {
  //   .left {
  //     padding: 80px 10px;
  //   }

  //   .right {
  //     .mySwiper {
  //       height: 60%;
  //       width: 80%;
  //     }

  //     .custom-next {
  //       bottom: 0;
  //       right: 30%;
  //       transform: translateX(-50%);
  //     }

  //     .custom-prev {
  //       bottom: 0;
  //       left: 40%;
  //       transform: translateX(-50%);
  //     }
  //   }
  // }
}

@media only screen and (max-width: 750px) {
  .mini-about-parent {
    .mini-about-cont {
      .left {
        height: 300px;
      }
    }
  }

  .activities_parent {
    .activities_cont {
      .card_list {
        flex-direction: column;

        .card {
          width: 100%;
        }
      }
    }
  }

  // .testimoneal-parent {
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 0px;
  //   gap: 20px;

  //   .left {
  //     width: 100%;
  //     padding: 0px;
  //   }

  //   .right {
  //     width: 100%;
  //     aspect-ratio: 2;
  //     .mySwiper {
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //     }

  //   }
  // }
}

@media only screen and (max-width: 550px) {
  .mini-about-parent {
    .mini-about-cont {
      .left {
        height: 250px;
      }
    }
  }

  // .testimoneal-parent {
  //   .right {
  //     aspect-ratio: 1 !important;
  //     .custom-next,
  //     .custom-prev {
  //       bottom: 0%;
  //     }
  //   }
  // }
}
